{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb-typescript"
    // Add more configurations such as for Jest if needed
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  }
  // Add custom rules or overrides here
}
